{{#translations}}
<div id="time" class="wrapper-dropdown-3" tabindex="3">
    <span class="customspan">{{thisMonthTranslation}}</span>
    <ul class="dropdown">
        <li id="0" class="dateListItem"><a href="#">{{bestTimesTranslation}} {{everTranslation}}</a></li>
        <li id="1" class="dateListItem"><a href="#">{{thisYearTranslation}}</a></li>
        <li id="2" class="dateListItem"><a href="#">{{thisMonthTranslation}}</a></li>
        <li id="3" class="dateListItem"><a href="#">{{thisWeekTranslation}}</a></li>
        <li id="4" class="dateListItem"><a href="#">{{todayTranslation}}</a></li>
    </ul>
</div>
{{/translations}}